<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.oh-my-dsh.discovery</string>
  <key>ProgramArguments</key><array><string>/usr/bin/python3</string><string>__ROOT__/scripts/dsh_discovery.py</string><string>--repo</string><string>__ROOT__</string></array>
  <key>StartInterval</key><integer>3600</integer>
  <key>EnvironmentVariables</key><dict><key>DSH_DISCOVERY_ENV_FILE</key><string>__ENV_FILE__</string></dict>
  <key>StandardOutPath</key><string>__ROOT__/var/dsh-discovery.launchd.out.log</string>
  <key>StandardErrorPath</key><string>__ROOT__/var/dsh-discovery.launchd.err.log</string>
</dict></plist>
